<!--<section class="property-binding">
    <article>
        <h3>Interpolação</h3>
        <p>Link renderizado com interpolação: {{ url }}</p>
    </article>
</section>
<section>
    <article>
        <h3>Class and Style Binding</h3>
        <div>
            Seleciona uma classe
            <select #classe (change)="0">
                <option value="alert-success">Sucesso</option>
                <option value="alert-danger">Perigo</option>
                <option value="alert-warning">Alerta</option>
                <option value="alert-info">Info</option>
            </select>
            <br><br>

            <div class="alert {{classe.value}}" role="alert">Texto</div>

            <div class="alert" role="alert" 
            [class.alert-success]="classe.value == 'alert-success'">
                A simple success alert—check it out!
            </div>
            <div class="alert" role="alert"
            [class.alert-danger]="classe.value == 'alert-danger'">
                A simple danger alert—check it out!
            </div>
            <div class="alert alert-danger" role="alert"
            [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
                Perigo
            </div>
            <div class="alert" role="alert"
            [class.alert-info]="classe.value == 'alert-info'">
                A simple info alert—check it out!
            </div> 

        </div>
    </article>
</section> -->

<section>
    <article>
        <h3>Event binding</h3>
        <div>
            <button (click)="botaoClicado()"
            class="btn btn-primary">
                Confirmar
            </button>
            
            <br><br>

            <input type="text" 
                (keyup)="onKeyUp($event)"
            />

            <p
            (mouseover)="onMouseOverOut()"
            (mouseout)="onMouseOverOut()"
            [class.highlight]="isMouseOver"
            >{{valorAtual}}</p>

        </div>
    </article>
</section>